.survivor-cards-container > * {
    width: fit-content;
    min-width: 260px !important;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
}
.survivor-cards-container > *:last-child {
    margin-bottom: 0;
}