@import '../../styles/components/floatingAlert.scss';

.floating-alert__container {
    position: fixed;
    top: $floating-alert__container-top-distance !important;
    right: 0;
    left: 0;
}

.floating-alert__alert {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}